# 数据库

我们平时说的数据库，指的是数据库管理系统

## 1.1 mysql数据库

MariaDB：MariaDB的目的是完全兼容MySQL，包括API和命令行，使之能够轻松称为MySQL的替代品

### 关系数据库

比较流行的非关系数据库如：Mongodb, redis

### json格式

In [10]:
import json

data_1 = "{'a':100, 'b':200}"    #引号不对，报错
data_2 = '{"a":100, "b":200}'

j_data2 = json.loads(data_2)
print(j_data2)

{'a': 100, 'b': 200}

In [11]:
with open('/Users/hejia/Desktop/data.json','r') as f:
    j_data = json.load(f)
    print(j_data)

{'a': 100, 'b': 200}

## 1.2 mysql数据库基本操作

* 连接数据库    
    mysql -u root -p     
    u是用户名   p是密码    
        
        
* 查看数据库    
    show databases;    
        
        
* 选择数据库    
    use databases_name;    
        
        
* 查看数据库中的table表    
    show tables;    
        
        
* 查看表格的结构    
    desc tables;    
        
        
* 查看表中的数据    
    select * from table_name;    
        
        
* 查看数据并限制数量    
    select * from table_name limit 10;

### 数据库管理工具
    
Sequel Pro (MacOS)     
HeidiSQL (Windows)

### 命令行操作数据库

* 创建数据库    
    create database database_name     
    
* 删除数据库    
    drop database database_name    
    
* 创建表格    
<pre/>
create table 'class' {
    'id' int(11) unsigned NOT NULL AUTO_INCREMENT,
    'name' varchar(80) NOT NULL,
    PRIMARY KEY('id')
};
</pre>

## 1.3 Python操作数据库

### **环境的配置**
* 使用管理员身份运行！(很重要，否则安装时写入错误)     
conda install -c bioconda mysqlclient  安装mysql client        
conda install pymysql   安装pymysql 也可以直接管理员身份打开conda图形界面安装

In [5]:
import pymysql

In [9]:
### 1.连接数据库

DATABASE = {
    'host' : 'localhost',   #localhost相当于127.0.0.1   如果是远程数据库，此处为远程服务器的ip地址
    'database' : 'examination_1',
    'user' : 'root',
    'password' : 'janshan123',
    'port':3306
    
}

#db = pymysql.connect('localhost', 'root', 'janshan123', 'Examination_1')
#db = pymysql.connect(host = '127.0.0.1', user = 'root', password = 'janshan123', db = 'examination_1',port = 3306)
db = pymysql.connect(**DATABASE)
#db现在就代表我们的数据库

* 犯的几点错误：    
    1. port的内容 不能用引号引起来，否则报错
    2. Python 3.x 已经不支持MySQLdb模块，转而使用pymysql模块
    3. 若出现'latin-1' codec can't encode characters in position 2-3:ordinal not in range(256)错误，或者读取数据库时出现乱码，只需增加'charset'='utf8'设置即可

### 游标

In [12]:
#定义db的游标
cursor = db.cursor()

### 查询

In [14]:
sql = "select * from class"
cursor.execute(sql)
results = cursor.fetchall()
for row in results:
    print(row)

(1, 'Jim', '高一一班')
(2, 'Lihua', '高一二班')

In [17]:
sql = "select * from class where name = 'Jim'"
cursor.execute(sql)
results = cursor.fetchall()
for row in results:
    print(row)

(1, 'Jim', '高一一班')

### 捕捉异常

In [20]:
try : 
    a = 10
    b = a / 0
except Exception as e:
    print(e)

division by zero

In [ ]:
# 出错回滚   db.rollback()
try : 
    sql = "insert into 'class'('name') values('高一一班')"
    cursor = db.cursor()
    cursor.execute(sql)
    error = 10 + 'sasas'
    db.commit()
except Exception as e:
    print(e)
    db.rollback()